In [3]:
print ("hello world!!!")

hello world!!!

# introduction to python
This is the beginning  of our python lecture:
In this class we will be exploring the use of python for data analytics and data science

In [8]:
# variables data types
age = 25

In [9]:
type(age)

int

In [5]:
height = 5.1

In [10]:
type(height)

float

In [6]:
name = "alice"

In [7]:
is_student = True

In [11]:
# doing basic maths in python

In [12]:
9/3 #Divistion

3.0

In [13]:
6-7 #substraction

-1

In [14]:
8*9 #multiplication

72

In [16]:
round(999/4, 2)

249.75

In [18]:
# moduluss sign(%) it returns the remainder of a division operation
5%2

1

In [26]:
#looking for odd ans even numbers
numbers = [1,2,3,4,5,6,7,8,9,10]

for number in numbers:
    if number % 2 == 0:
        print(number)

2
4
6
8
10

In [28]:
# floor division -returns the whole of division
9//2

4

In [29]:
# comparison operator
olatunde = "dark"
dimeji = "tall"

In [30]:
olatunde

'dark'

In [1]:
a = 30
b = 40

In [2]:
a > b

False

In [3]:
b < a

False

In [4]:
b > a

True

# Control Flow
conditional statment (if, elif, else). these statment helps us make the python behave intelligently

In [8]:
age = 17
if age >= 18:
    print("you are an adult")
# using the esle if statement
    else:
    print("you are not an adult")

you are not an adult

In [12]:
#built in function 

#print - This is how Python output result
print("we are learning Python together")

#len - Check the Lenght of an object
Students = "Chaviva"

#round- Rounds to a particular significant value
print round(999/ 2)


#type - checks the data type of an object
type(Students)

#input - get inputs from user
name = input("what is your name: ")
print("your name is: ", name)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2340643874.py, line 10)

In [17]:
# for loop
# This loop helps to iterate through (go through) sequence
for character in Students:
    print (character, end= " + ")

C + h + a + v + i + v + a +

In [28]:
# for loop
# This loop helps to iterate through (go through) sequence
for character in Students:
    if character == "C":
           continue
    print (character)

h
a
v
i
v
a

In [29]:
# declaring a variable to sum my total
total = 0
for i in range (100):
    # checking if the numbers are even numbers
    if i % 2 == 0:
        print(i)
        #total = total + i
        
    #print(total)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

## Data Structures in Python
python has data structures to store and manipulate data. these data structures are native to pyton
examples include: lists, tuples, Dictionararies, Set.

### List:
list are mutable(changable) python data structure, in other programming languages they are arrays, list can store any python data type, they are donated by square bracket.

In [7]:
# this is a list containing fruit
fruits = ["apple", "banana", "cherry"]

In [3]:
fruits

['apple', 'banana', 'cherry']

In [4]:
fruits[0] # this is first item or element in the list

'apple'

In [5]:
fruits[2] # this ts the third item or element in the list

'cherry'

In [6]:
fruits[1] # this is the secound item or element in the list

'banana'

In [9]:
# slicing, we can slice our list
fruit = (fruits[0:2]) # gives the first two items
fruits[-1]
#print(fruits[0:3]) # gives the first three items on the list
#print(fruits[0:]) # start from index 0 and print till end
#print(fruits[:]) # print everything on the list

'cherry'

In [13]:
for i in fruits:
    print(i)

apple
banana
cherry

In [14]:
# the command "append" is to add to the end of the list
fruits .append("cucumber")

In [15]:
fruits

['apple', 'banana', 'cherry', 'cucumber']

STRING OPERATORS
string operstors are importtant concepts in python

In [1]:
student = "Dimeji Daniels"

In [2]:
#strings cannote be changed once deleted
student[0] = "d"

TypeError: 'str' object does not support item assignment

In [8]:
fruits[0] = "carrot"

In [9]:
fruits

['carrot', 'banana', 'cherry']

In [10]:
# this method counts the occurance of values in the strings
student.count ("D")

2

In [11]:
# this method replaces any value in the strings with another values
student_ = student.replace(" ", "_")

In [12]:
student_

'Dimeji_Daniels'

In [13]:
student

'Dimeji Daniels'

In [14]:
student_.split("_")

['Dimeji', 'Daniels']

In [15]:
student

'Dimeji Daniels'

In [16]:
# this method will split the string into a list
student_list = student_.split("_")

In [17]:
student_list[0]

'Dimeji'

In [18]:
student_list[0] = "lizzy"

In [19]:
student_list

['lizzy', 'Daniels']

## FUNCTIONS
Functions allows us to reuse blocks of codes, it allows for clearer ans concised coding pratice fucntions in python are usuualy starterd with the 'def' keyword

In [20]:
def greet():
    print ("hello good morniging!!, welcome to gomycode")

In [21]:
greet()

hello good morniging!!, welcome to gomycode

In [1]:
9//2

4

In [3]:
print((2>5) == (6>2))

False

In [3]:
def greet(name):
    print("hello welcome to Gomycode", name)

In [4]:
greet("Olatunde")

hello welcome to Gomycode Olatunde

In [5]:
greetings = greet("Temitope")

hello welcome to Gomycode Temitope

In [6]:
  def greet(name):
        return("Hello welcome to Gomycode", name) #this retuens the output of the function

In [7]:
# Global and local variables
x = 10
def number():
    y = 5 # this value is local to this function
    x = 2 # this value is local to this function
    return y + x

In [8]:
number()

7

 ### string manipulation
 strings in python cannot be chnaged when they have been declared

In [9]:
name = "Alice"

In [10]:
name[0] = "a"

TypeError: 'str' object does not support item assignment

In [11]:
name.lower()

'alice'

In [12]:
name.upper()

'ALICE'

In [13]:
word = "python is fun"

In [14]:
word.split()

['python', 'is', 'fun']

In [4]:
text = """Hello coursemate, its your birthday today, i hope you get blessed with all your wishes and hope you asked some for me too. happy birthday ma.
        """

In [5]:
len(text)

150

In [9]:
text_list = text.split()

In [10]:
text_list

['Hello',
 'coursemate,',
 'its',
 'your',
 'birthday',
 'today,',
 'i',
 'hope',
 'you',
 'get',
 'blessed',
 'with',
 'all',
 'your',
 'wishes',
 'and',
 'hope',
 'you',
 'asked',
 'some',
 'for',
 'me',
 'too.',
 'happy',
 'birthday',
 'ma.']

In [11]:
text_2 = []
for i in text_list:
    if len(i) > 3:
        text_2.append(i)

In [12]:
text_2

['Hello',
 'coursemate,',
 'your',
 'birthday',
 'today,',
 'hope',
 'blessed',
 'with',
 'your',
 'wishes',
 'hope',
 'asked',
 'some',
 'too.',
 'happy',
 'birthday']

In [13]:
test_list [-1]

'ma.'

In [14]:
#List slicing with steps [start:stop:step]
text_list[::-1] #[start:stop:step]

['ma.',
 'birthday',
 'happy',
 'too.',
 'me',
 'for',
 'some',
 'asked',
 'you',
 'hope',
 'and',
 'wishes',
 'your',
 'all',
 'with',
 'blessed',
 'get',
 'you',
 'hope',
 'i',
 'today,',
 'birthday',
 'your',
 'its',
 'coursemate,',
 'Hello']

In [16]:
# write a python program to sum all the items in a list
numbers = [2, 4, 6, 7, 8, 9, 10]

In [17]:
# adding all numbers in a list
total = 0
for i in numbers:
    total = total + i
print(total)

46

### Ground rules
() brackects are used to call out a method or function
[] are used for list and slicing, indexing
. the dots is used to access the methods of an object def - used to declare a function
: - colon is used to start a block of code and used in slicing
= - used for assigning variables
{} - used for creating a set and dictionary
== used to check equality (maybe the right is equal to the left)
for - used for iteration(going over sequence)
-# - used for comments
 """ """ - used for multi-line comments 

### Tuples
this pyhton data structure is not changeable(mutable) once declared. they are denoted

In [18]:
points =(3,5)

In [19]:
points[0] = 4

TypeError: 'tuple' object does not support item assignment

Dictonaries
Dictionaries are python data structure that stores values usisng key-pair values

In [23]:
person =  {"name": "alice:", "age":30, "sex": "Female"}

In [21]:
person

{'name': 'alice:', 'age': 30}

In [24]:
person

{'name': 'alice:', 'age': 30, 'sex': 'Female'}

In [25]:
person ["sex"] = "i prefare not to say"

In [26]:
person

{'name': 'alice:', 'age': 30, 'sex': 'i prefare not to say'}

In [1]:
print ("welcome to python pizza deliveries")

welcome to python pizza deliveries

what size of pizza do you want?meduim

In [5]:
size

'large'

In [8]:
size

'meduim'

In [9]:
add_pepperoni = input("do you want pepperoni on your pizza Y/N: ")

do you want pepperoni on your pizza Y/N: Y

In [10]:
extra_cheese = input("do ypu want extra cheese Y/N: ")

do ypu want extra cheese Y/N: Y

In [20]:
small_pizza = 15
meduim_pizza = 20
large_pizza = 25
pepperoni_small_size = 2
pepperoni_medium_size = 3
cheese = 1

size = input("what pizza size do you want? choose 'L' for large, 'M' for medium, 'S' for small ").lower()
if size == 'l':
    print(f" Total balance is ${large_pizza}")
elif size == 'm':
    print(f" Total balance is ${meduim_pizza}")
elif size == "s":
    print(f" Total balance is ${small_pizza}")
elif size =='l' & add_pepperoni =='y':
    print(f"your balance is: {large_pizza + pepperoni_medium_large}")

what pizza size do you want? choose 'L' for large, 'M' for medium, 'S' for small L
 Total balance is $25

In [16]:
pip install easygui

Collecting easygui
  Obtaining dependency information for easygui from https://files.pythonhosted.org/packages/8e/a7/b276ff776533b423710a285c8168b52551cb2ab0855443131fdc7fd8c16f/easygui-0.98.3-py2.py3-none-any.whl.metadata
  Downloading easygui-0.98.3-py2.py3-none-any.whl.metadata (8.4 kB)
Downloading easygui-0.98.3-py2.py3-none-any.whl (92 kB)
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/92.7 kB ? eta -:--:--
   ------------- -------------------------- 30.7/92.7 kB 163.8 kB/s eta 0:00:01
   ------------- -------------------------- 30.7/92.7 kB 163.8 kB/s eta 0:00:01
   ------------- -------------------------- 30.7/92.7 kB 163.8 kB/s eta 0:00:01
   -------------------------- ------------- 61.4/92.7 kB 192.5 kB/s eta 0:00:01
   -------------------------- ------------- 61.4/92.7 kB 192.5 kB/s eta 0:00:01
   -------------------------- ------------- 61.4/92.7 kB 192.5 kB/s eta 0:00:01
   -------------------------- ------------- 61.4/92.7 kB 192.5 kB/s eta 0:00:01
   -------------------------- ------------- 61.4/92.7 kB 192.5 kB/s eta 0:00:01
   -------------------------- ------------- 61.4/92.7 kB 192.5 kB/s eta 0:00:01
   -------------------------- ------------- 61.4/92.7 kB 192.5 kB/s eta 0:00:01
   -------------------------- ------------- 61.4/92.7 kB 192.5 kB/s eta 0:00:01
   ---------------------------------------- 92.7/92.7 kB 125.4 kB/s eta 0:00:00
Installing collected packages: easygui
Successfully installed easygui-0.98.3
Note: you may need to restart the kernel to use updated packages.

In [21]:
size = input("what pizza size do you want? choose 'L' for large, 'M' for medium, 'S' for small ").lower()
add_pepperoni = input(do you want pepperoni on your pizza Y/N: "). lower()
if size == 'l' and add_pepproni :
    print(f" total balance is = ${Large_pizza + pepperoni_medium_large}")
elif size == 'i':
    print(f" your balance is ${Large_pizza}")                  
                      
                      
                      
    print(f" Total balance is ${large_pizza}")
elif size == 'm':
    print(f" Total balance is ${meduim_pizza}")
elif size == "s":
    print(f" Total balance is ${small_pizza}")
elif size =='l' & add_pepperoni =='y':
    print(f"your balance is: {large_pizza + pepperoni_medium_large}")

SyntaxError: unterminated string literal (detected at line 2) (1613288988.py, line 2)

In [1]:
# Prompt the user for the size of the pizza
size = input("What size pizza do you want? Small, Medium, or Large: ")

What size pizza do you want? Small, Medium, or Large: Large

In [2]:
# Prompt the user if they want pepperoni on their pizza
add_pepperoni = input("Do you want to add pepperoni? 'yes' or 'no': ")

Do you want to add pepperoni? 'yes' or 'no': no

In [3]:
# Prompt the user if they want extra cheese
extra_cheese = input("Do you want extra cheese? 'yes' or 'no': ")

Do you want extra cheese? 'yes' or 'no': no

In [4]:
# Calculate the final bill based on the user's inputs
bill = 0

In [5]:
# Add the base cost of the pizza based on size
if size.lower() == "small":
    bill += 15
elif size.lower() == "medium":
    bill += 20
elif size.lower() == "large":
    bill += 25
else:
    print("Invalid pizza size entered. Please choose Small, Medium, or Large.")

In [6]:
# Add the cost of pepperoni if the user wants it
if add_pepperoni.lower() == "yes":
    if size.lower() == "small":
        bill += 2
    else:
        bill += 3

In [7]:
# Add the cost of extra cheese if the user wants it
if extra_cheese.lower() == "yes":
    bill += 1

In [8]:
# Display the final bill
print(f"Your final bill is: ${bill}")

Your final bill is: $25

#### Sets
sets are unorderd collections of unique elements. they are commonly used to peeferom mathematical set operations like union, intersection, and diffrence. set uses the curly braces.

In [5]:
my_set = {1, 1, 1, 2, 2, 3, 3, 4, 5}

In [6]:
my_set

{1, 2, 3, 4, 5}

In [8]:
## Marking a set out of list
set(["Olatunde", "Borokini", "Olatunde"])

{'Borokini', 'Olatunde'}